[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-jollait
Exec=sailfish-qml harbour-jollait
Name=Jolla Italia
Name[it_IT]=Jolla Italia
